
#header_content{
 font-size: 20px;
}

#generalites{
 text-align: right;
}

a{
	color : black;
	font-size: 13px;
}

a:HOVER{
	color : blue;
}

.imghead{
	width: 10%;
 	height: 60px;
 	margin-right: 100 px
}

.imgfoot{
	width: 120px;
 	height: 50px;
}

.centrer{
	text-align: center;
	margin-left: 50 px;
	position: relative;
}
