html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#principal {
	min-height: 100%;
	position: relative;
	margin: auto;
	width: 1000px;
}

#header {
	background: #ff0;
	padding: 10px;
	background-color: white;
}

#body {
	padding: 10px;
	padding-bottom: 100px; /* Height of the footer */
}

#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100px; /* Height of the footer */
	background-color: white;
 	border: 2px #0568CD solid;
}

#basicMap {
	width: 100%;
	height: 540px;
	margin: 0;
}
