/*######################################
####          index.jsp				####
######################################*/
html,body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#AllScreenDiv {
	height: 100%;
	width: 100%;
/* 	overflow-y: scroll; */
/* 	overflow-x: hidden; */
}

header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 35px;
	z-index: 5000;
	background: rgba(44, 62, 80, 0.8);
	border-bottom: 1px solid black;
}

#headerContainer {
	height: 100%;
}

#content {
	width: 100%;
	height: 100%;
}

#contentContainer {
	position: absolute;
	left: 5px;
	top: 40px;
	width: 250px;
	height: 335px;
	background: rgba(56,172,83,0.67);
	z-index: 5000;
	border-radius: 3px;
}

footer {
	position: absolute;
	bottom: 0px;
	height: 170px;
	width: 100%;
	z-index: 5000;
	border-top: 1px solid black;
	background: rgba(44, 62, 80, 0.8);
}

#footerContainer {
	position: relative;
	height: 99%;
}

/*######################################
####            OSM      			####
######################################*/
#basicMap {
	width: 100%;
	height: 400px;
	margin: 0;
	margin-top: 0px;
	position: : relative;
}

#olControlAttribution {
	position: absolute;
	font-size: smaller;
	z-index: 1005;
	right: 5px;
	bottom: 150px;
	position: absolute;
	display: block;
}

#scaleline-id {
	position: absolute;
	bottom: 190px;
	right: 5px;
	padding: 5px;
	z-index: 1005;
	font-size: xx-small;
}

#mousePosition {
	position: absolute;
	bottom: 145px;
	right: -3px;
	padding: 10px;
	z-index: 1005;
	font-size: small;
}

/*######################################
####          header				####
######################################*/
#colorGray {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 34px;
}

#loupe {
	width: 34px;
	height: 20px;
	background: #708090;
	padding-bottom:0px;
}

#inputSearch {
	position: absolute;
	top: 0px;
	left: 36px;
	height: 30px;
	width: 900px;
}

#searchBar {
	height: 24px;
	background: white;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 407px;
	border-radius: 4px;
}

#geoLoc {
	position: relative;
	height: 22px;
	width: 27px;
	float:left;
}

.geoLocImg {
	background: #FF4500;
	height: 24px;
	width: 27px;
	border-radius: 3px;
}

#search {
	width: 348px;
	float: left;
	z-index:5010;
	padding-left:5px;
}

#submit {
	position: relative;
	height: 22px;
	width: 27px;
	float:left;
}

#inputSubmit {
	position: absolute;
	top: 0px;
	left: 950px;
	height: 20px;
	width: 20px;
	float: left;
}

.valid {
	background: #FF4500;
	height: 24px;
	width: 27px;
	border-radius: 3px;
}

.search_data {
	position: relative;
	width: 95%;
	height: 15px;
	margin-left: 2px;
	top: 1px;
	border: none;
}

#lodpaddleZone{
	position:absolute;
	width:300px;
	min-width:100px;
	height:35px;
	left:0px;
	top:0px;
	font-weight: bold;
}

.lodpaddleTitle a:hover,
.lodpaddleTitle a:visited{
	color:black;
}

#creditZone{
	position:absolute;
	width:300px;
	min-width:100px;
	height:35px;
	right:0px;
	top:0px;
}

/*######################################
####          widget				####
######################################*/
.widget {
	position: relative;
	float: left;
	font-size: 12px;
	font-family: arial;
	margin-left: 10px;
	top: 4px;
	border-radius: 3px;
	height: 142px;
}

.spacing{
	padding-left: 15px;
	padding-top: 0px;
	padding-right: 10px;
	text-align: left;
}

.linkImg {
	width: 10px;
	height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.linkdiv {
	left: 0px;
	margin-left: 0px;
}

a {
	text-decoration: none;
}

ul { /* list-style-image: url("../media/loupe.png"); */
	list-style: none;
	text-align: left;
	left: 0px;
	/* border: 2px #0568CD solid;*/
	padding-left: 0px;
	color: white;
}

li{
	padding-bottom: 3px;
	margin: 0;
	color: white;
	text-color : white;
	font-size: 11px;
} 

li a{
	color: white;
}

li a:HOVER{
	color: #2c3e50;
}

li:first-line {
	color:black;
}

.itemImage {
	background-color: white;
}

.themeitem{
	height: 95px; 
	width: 47%;
	position: relative;
	/*border: 2px black solid;*/
	/*float: left;*/
	margin-right: 5px;
	padding: 0;
	margin-bottom: 0px;
	margin-top: 5px;
}

/*######################################
####          Flip  				####
######################################*/

.flipItem{
	top: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	color: white;
	top: 0px;
	margin-top: 0px;
	padding: 0;
	font-size: 12px;
	/*border: 2px #0568CD solid;*/
}

.title{
	border-bottom: 2px white solid;
	width: 100%;
	text-align: center;
	height: 30px;
	padding-top: 10px;
	font-weight : 900;
	font-size: 16px;
}

.contenuFlip{
	height: 323px;
	padding-left: 5px;
}

/*######################################
####          footer				####
######################################*/
#staticTheme { /* 	background-color: rgba(0,0,0,0.2); */
	float: left;
	height: 170px;
	width: 300px;
	/* 	visibility: hidden; */
}

#calculatedTheme {
	position: absolute;
	height: 170px;
	width: 298px;
	left: 3px;
	top: 0px;
}


.themeWidget {
	height: 81px;

}

#culture {
	background-image: url("../media/cultureTheme.png");
	background-size: 81px 81px;
	background-repeat: no-repeat;
}

#visite {
	background-image: url("../media/visiteTheme.png");
	background-size: 81px 81px;
	background-repeat: no-repeat;
}

#service {
	background-image: url("../media/serviceTheme.png");
	background-size: 81px 81px;
	background-repeat: no-repeat;
}

#ville {
	background-image: url("../media/villeTheme.png");
	background-size: 81px 81px;
	background-repeat: no-repeat;
}

#loisir {
	background-image: url("../media/loisirTheme.png");
	background-size: 81px 81px;
	background-repeat: no-repeat;
}

#transport {
	background-image: url("../media/transportTheme.png");
	background-size: 81px 81px;
	background-repeat: no-repeat;
}

/*######################################
####          footer				####
######################################*/
#oneContent {
	position: relative;
	margin: auto;
	opacity: 1;
	text-align: center;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#anotherContent {
	position: relative;
	margin: auto;
	color: white;
	opacity: 1;
}

#lastContent {
	position: relative;
	margin: auto;
	color: black;
	opacity: 1;
}
