.widget {
	/*padding-right: 10px;*/
	/*padding-bottom: 10px;*/
	font-size: 12px;
	font-family: arial;
	/*border-radius: 10px;*/
	border: 2px #FFFFFF solid;
}

.spacing{
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 0px;
	text-align: center;
}

.linkImg{
	width: 10px;
	height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.linkdiv{
	left: 0px;
	margin-left: 0px;
}

a{
	text-decoration: none;
}

ul{
	/* list-style-image: url("../media/loupe.png"); */
	
	list-style: none;
	text-align: left;
	margin: 0;
	left: 0px;
	/* border: 2px #0568CD solid;*/
	float: left;
	padding-left: 0px;
}

li{
	
	margin-top: 5px;
	margin: 0;
}

.itemImage{
	background-color: white;
}
