<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>lodpaddleTest</display-name>
  <welcome-file-list>
    <welcome-file>CreateWidget</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>CreateWidget</servlet-name>
    <servlet-class>src.Servlets.CreateWidget</servlet-class>
    <init-param>
      <param-name>Widget</param-name>
      <param-value>WidgetServlet</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateWidget</servlet-name>
    <url-pattern>/CreateWidget</url-pattern>
  </servlet-mapping>
</web-app>